## SOCIAL NETWORK ADS

Social network advertising, also social media targeting, is a group of terms that are used to describe forms of online advertising that focus on social networking services. One of the major benefits of this type of advertising is that advertisers can take advantage of the usersâ€™ demographic information and target their ads appropriately. Advantages are:
* advertisers can reach users who are interested in their products  
* allows for detailed analysis and reporting  
* information gathered is real
* not from statistical projections
* does not access IP-addresses of the users

### What we expect from out dataset

* The age of people is the dataset ranges from 18 to 60
* The max salary of people in the dataset does not exceed 150000

In [ ]:
#####Import Pandas - any other libraries that you need are usually placed at the top
import pandas as pd
import numpy as np

##Read in the Docial Network Ads CSV file and assign it to a variable called df
df = pd.read_csv('Modified_Social_Network_Ads.csv')

##print out the contents of the dataframe
df

In [ ]:
#print the column headings

In [ ]:
#examine the datatypes

In [ ]:
#display the first 7 rows of your dataframe

In [ ]:
#display the last 3 rows of your dataframe

In [ ]:
#Get the shape of the dataframe - this will tell you how many rows and columns you have in the dataframe

In [ ]:
#describe the numeric values of the dataframe

In [ ]:
#describe the object values of the dataframe

In [ ]:
#When you look at the results of the 2 different describe() methods above you will see that only the object data contains
  #a summary of unique values.
##What if you want to know the number of unique values in any column
  #This code will count the number of unique values in a column
df['Age'].nunique()

In [ ]:
#This code will display the individual unique values in a column
df['Age'].unique()

In [ ]:
#check for null values

In [ ]:
#Check the maximum value in the age column

In [ ]:
#Check the minimum value in the age column

In [ ]:
#Check the maximum value in the EstimatedSalary column

In [ ]:
#Display the contents of the EstimatedSalarycolumn
df['EstimatedSalary']

#Or
#df.EstimatedSalary
  #Note: the code above only works if there is no space in the column name - otherwise you must use the first example

In [ ]:
#Display the contents of the EstimatedSalary and User ID columns
df[['EstimatedSalary', 'User ID']]

In [ ]:
#Display the contents of the EstimatedSalary, User ID and Purchased columns
df[['EstimatedSalary', 'User ID', 'Purchased']]

In [ ]:
#Repeat the step above and save the results to a new dataframe called temp_df.
temp_df = df[['EstimatedSalary', 'User ID', 'Purchased']]

#Display the results of temp_df
temp_df

In [ ]:
#Display the contents of rows 50 - 55 inclusive in your dataframe named df
df.iloc[50:56]

### Handling Null Values

Based on our results above we can see that Gender, Age and EstimatedSalary all have null values - we must address these issues.

In [ ]:
#In your dataframe named df - drop all rows with null values in the Age column
    #This would mean that the other null values in the other columns would not be deleted

In [ ]:
#Using any technique you wish - check the number of records in the dataframe

In [ ]:
#Using the mode Gender - replace the null values in the Gender column of the dataframe - Female
#Calculate the mode value


#Print the mode value


#Use the mode value to fill null values

In [ ]:
#Using the mean EstimatedSalary - replace the null values in the EstimatedSalary column
#Calculate the mean value


#Round the mean value to 1 decimal place


#Print the mean value


#Use the mean value to fill null values

In [ ]:
#check for null values again

### Handling Wrong Data

In [ ]:
#Display the rows where the age is less than 18 or rows where the age is greater than 60
for x in df.index:
  if (df.loc[x, "Age"] < 18) or (df.loc[x, "Age"] > 60):
    #print the row and value - just so we can see where they are
    print(x ,df.loc[x, "Age"])

In [ ]:
#Delete rows where the age is less than 18

In [ ]:
#In rows where the age is greater than 60 set the age to 60

In [ ]:
#Using any technique you wish - check the number of records in the dataframe

In [ ]:
#Count the number of unique values in the Age column now

### Remove Duplicates

In [ ]:
#display duplicates - returns True for every row that is a duplicate, othwerwise False
  #Note:when the dataset is very large this is meaningless.

In [ ]:
#print all rows with duplicates
df[df.duplicated()]

In [ ]:
#print all rows without duplicates - the tilda ~ means does not contain
df[~df.duplicated()]

In [ ]:
#print all rows with duplicates in User ID column
df[df['User ID'].duplicated()]

In [ ]:
#print all rows with no duplicates in User ID column
df[~df['User ID'].duplicated()]

In [ ]:
#rather than print the duplicate rows you might want to count the number of duplicate rows in the dataframe 
  #do a google search to find the code

In [ ]:
#run the delete duplicate command

In [ ]:
#count the number of duplicates in the dataframe again - there should not be any duplicates

In [ ]:
#display shape of dataframe again - there should be less rows than before

### Replace values in a cell

In [ ]:
#If you wanted to make your data file smaller you could replace longer text with abbreviations
 ##for example, in the Gender column you could replace Female with F and Male with M

#Change all instances of Female to F in the dataframe
df.loc[df['Gender'] == 'Female', 'Gender'] = "F"

#Change all instances of Male to M in the dataframe
df.loc[df['Gender'] == 'Male', 'Gender'] = "M"

#Display the dataframe
df

In [ ]:
#What would happen if we changed our text values to numeric values - would our column now be numeric?

#Change all instances of F in the dataframe to the numerical value 0 
df.loc[df['Gender'] == 'F', 'Gender'] = 0

#Change all instances of M in the dataframe to the numerical value 1
df.loc[df['Gender'] == 'M', 'Gender'] = 1

#Display the dataframe
df

In [ ]:
#Check the data types again
  #You will notice that gender still has an Object type - we will handle this in a later tutorial
df.dtypes

### Grouping and Counting

In [ ]:
#Count the number of people in each Age group and save the results to new_df
new_df = df.groupby(['Age']).count()

#display the dataframe new_df
new_df

### Sorting

In [ ]:
#Sort by EstimatedSalary in ascending order - these changes will not be saved
df.sort_values('EstimatedSalary', ascending=True)

In [ ]:
#Sort by EstimatedSalary in descending order - do not save the changes

In [ ]:
#Sort by Gender in ascending order and Age in ascending order - these changes will not be saved
df.sort_values(['Gender','Age'], ascending=[True, True])

In [ ]:
#Or Use:
df.sort_values(['Gender','Age'], ascending=[1, 1])

In [ ]:
#Sort by Age in descending order and Gender in ascending order - do not save the changes

In [ ]:
#Sort by Gender in ascending order, Age in descending order and EstimatedSalary in descending order and save the changes to df
df = df.sort_values(['Gender','Age', 'EstimatedSalary'], ascending=[1, 0, 0])

#display the dataframe
df

### Filter Records

In [ ]:
#Filter all records showing people earning more than 50000 - this will not be saved
df.loc[(df['EstimatedSalary'] > 50000)]

In [ ]:
#Filter all records showing People 25 or older - do not save this

In [ ]:
#Filter all records showing People between the ages of 25 and 35 - this will not be saved
df.loc[(df['Age'] >= 25) & (df['Age'] <= 35)]

In [ ]:
#Filter all records showing People between the ages of 25 and 35, earning more than 50000 - this will not be saved
df.loc[((df['Age'] >= 25) & (df['Age'] <= 35)) & (df['EstimatedSalary'] > 50000)]

In [ ]:
#Filter all records where people between the ages of 25 and 35, earning more than 50000, made a purchase
#Save the changes in the current DataFrame df
  #Tip for future reference - it would be important to know what datatypes these fields are



#Display the dataframe
df

### Rearrange the Order of Columns

In [ ]:
##Rearrange the order of your columns in the dataframe so that Age is first, then Gender, UserID, EstimatedSalary and Purchased

#Do a google search and figure out how to do this - search 'Pandas reorder columns'


#Display the dataframe
df

### Delete a column

In [ ]:
#Delete the User ID column and save the changes to the dataframe 
df = df.drop(columns=['User ID'])

#Display the dataframe
df

In [ ]:
#Delete the Purchased column and save the changes to the dataframe 


#Display the dataframe
df

### Reset the Index Reference

In [ ]:
#Reset the Index Reference and ensure the changes are saved
df.reset_index(drop=True, inplace=True)

#Display the dataframe
df

### Save the Modified File

In [ ]:
##Save a new version of the datafile to a new file called SocialModified.csv
df.to_csv('SocialModified.csv', index=False)