## CLEANING DATA – nba.csv

**This task is designed to encourage you to:  
•	Use the knowledge you have acquired in your previous tasks and apply it here  
•	Search the internet for solutions to anything you do not know how to do yet  
    Tip: start all internet search criteria with the word Pandas**

In [ ]:
#import the relevant libraries - you will need pandas and numpy
import pandas as pd
import numpy as np

In [ ]:
#read the csv file and assign it to a dataframe (download the file and ensure that it is in the same folder as this ipynb file)
df = pd.read_csv('nba.csv')

#describe the dataframe
df

In [ ]:
#Display the shape of the data - how many rows and columns  do you have?

In [ ]:
#Display the head of the document - this will give you an idea of what the contents of the file looks like
#The first five rows are displayed

In [ ]:
#Display the last 5 lines of your file
#What problem is immediateley obvious when looking at the last five lines of the file?

In [ ]:
#Fix the problem by removing the row. Ensure that the dataframe has been changed


#Display the dataframe

In [ ]:
#Examine the different datatypes - we need to understand the data types as it effects what we can do with the data

In [ ]:
#Count the number of values in each column
df.count()

In [ ]:
#Count the number of records in a specific column - NAme column
#df.count()[0]

#Or 

df.count()['Name']

In [ ]:
#Count the number of individual values in one column
df["Team"].value_counts()

In [ ]:
#Find the maximum Salary

In [ ]:
#Find the minimum Weight

In [ ]:
#Find maximum Height

In [ ]:
#The maximum Height code above actually works even though it is Object data
#Run this code below to see where a potential problem could arise

x = df["Height"].max()
y = df["Height"].min()
z= x-y
z

In [ ]:
#Describe the Object data in the dataframe
    #What conclusions can be made from this?
    #Which column has the highest number of unique values?
    #Which column has too many missing values? - We couldn't reasonably caluclate these.

In [ ]:
#Delete the column with highest number of unique values & the column with the highest number of missing values & update the dataframe


#Display the dataframe

In [ ]:
#Describe the numerical data

When we described the data above, the values that were returned for the Salary field don’t look quite right – however they are. It’s just that there is not enough space to display all of the digits.  
* If you look at the results of the Count field in the Salary column above, the number is displayed as 4.460000e+02.  
* To understand the number move the decimal point by 2 place to the right (that's what e+02 means), giving 446  
    The other colums have 457 records

With code, count the number of null values in the dataframe. It will be 11.  
* The number of records at this point is 457. So we can conclude that the count value is actually correct.

In [ ]:
#Sum the null values in columns

To address the null values, you have 2 choices at this point
* Calculate the mean in the Salary field and replace all occurrences of NaN with the mean salary  
Or
* Delete the rows with null values

In [ ]:
#Display the dataframe - row 2 (3rd record) has a null value in the Salary column

In [ ]:
#Calculate the mean Salary using numpy - it will be 4842684.1053811675 and store it in a variable called x


#Assign x to fields with null values in the Salary column


#Display the dataframe and look at the the Salary column in row 2 (3rd record)

In [ ]:
#OR.... drop all occurences of rows with null values 
#using df.dropna() will drop null values in the whole dataset
#If necessary, do a google search to figure out how to drop all occurences of rows with null values in a specific column



#Re-run the ipynb file from the top (ignoring the cell above)
#Display the dataframe - row index 2 (the 3rd record is missing)

In [ ]:
#Use count to show the number of values in all columns - it will help check that there are no null values

In [ ]:
#count & display null values in the Salary columns using isna() - there should be NO null values

In [ ]:
#describe the dataframe

In [ ]:
#Display the dataframe. In the Team column Boston Celtics appears in the first few records

In [ ]:
#In the Team column change Boston Celtics to BC  


#Display the dataframe

In [ ]:
#Filter the dataset to show all records for Team BC

In [ ]:
#Filter the dataset to show all records that don't contain Team BC
#This code will return all values in the Name column that DO NOT contain BC.

In [ ]:
#Count the number of individual values in the Position column - (you did somethimg similar earlier)
#You will see that there are 5 different positions

In [ ]:
#Convert the Position column to numeric values - we will use Get Dummies
  # when we use  the get_dummies function the data will be placed in 5 columns
#Use get_dummies on the Position column and assign the output to a temporary variable called dummies


#Display the contents of dummies

In [ ]:
#Add the temporary dummies columns to end of the existing dataframe df - concatenate - and update the dataframe


#Display the dataframe

In [ ]:
#At this point you might want to delete the Position column and update the dataframe. 
  #However when doing the visualisations later it might be handier to have it. 
  #We can always delete it before building the model
 
#df = df.drop(['Position'], axis=1)

#Display the dataframe
#df

In [ ]:
#Sort the dataframe by Age in ascending order and Weight in descending order and update the dataframe


#Display the dataframe

In [ ]:
#Select rows where the age is greater than or equal to 20 and less than or equal to 29. Update the dataframe.


#Describe the dataframe

In [ ]:
#Filter the dataset to show players who earned more than 2 million, who were less than 25 and weighted more than 250
#Assign results to new_df


#Display new_df

## Height is a Object type field - Get Height in Inches so that we can analyse it 

This section looks at stripping out the numeric values from the Height field (which is an object type)  
A calculation will be performed to work out total height in inches  
The results will be saved in a new numerical column and the original column will be deleted

In [ ]:
#Describe the object data in the df dataframe
#The only categorical/object type columns that we have is Height and Team

In [ ]:
#Display the datatypes

In [ ]:
#View the first 5 lines to have a look at the Height column

In [ ]:
#To start we will split values from the Height columns and save the results in a new data frame called splitValues
#The values should be split on the hyphen"-"
    #splitValues[0] will contain the feet part of the strings
    #splitValues[1] will contain the inches part of the strings

#Split the height column and assign the results to a dataframe called splitValues
splitValues = df["Height"].str.split("-", n = 1, expand = True) 

#Display the dataframe called splitValues
splitValues

In [ ]:
#These values will be strings so convert them to numeric values


#calculate the total height in inches - (ft *12) + inches - and put the results in a new column called HeightInInches in the splitValues dataframe


#Display the dataframe called splitValues

In [ ]:
#Concatenate the HeightInInches column from the splitValues dataframe with the df dataframe and save in df


#Display the first 5 rows of df

In [ ]:
#In the dataframe df - drop original Height column 


#Display the first 5 lines of df

In [ ]:
#Rearrange the dataframe so that HeightInInches appears after Salary and update the dataframe


#Display the first 5 lines of df. Where is the HeightInInches column now?

In [ ]:
#Look at the Index references for each line in the output results
#Re-order the index values 
#Remember to use inplace=True 


#Display the dataframe

In [ ]:
#Filter the datset (df) to show the records for players taller than 85 inchches

In [ ]:
#Save the dataframe as a new dataset.
#Index = false is used to ensure that the row index values are not included in the dataset